<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.LandDao" >
	<resultMap id="BaseResultMap" type="com.ssm.entity.Land">
		<result column="landID" property="landID" jdbcType="INTEGER" />
		<result column="landName" property="landName" jdbcType="VARCHAR" />
		<result column="landPrice" property="landPrice" jdbcType="DOUBLE" />
		<result column="landImg" property="landImg" jdbcType="VARCHAR" />
		<result column="landMs" property="landMs" jdbcType="VARCHAR" />
		<result column="landArea" property="landArea" jdbcType="VARCHAR"/>
		<result column="landDate" property="landDate" jdbcType="DATE"/> 
		<result column="landSize" property="landSize" jdbcType="VARCHAR"/>
	</resultMap>
	<!-- 添加土地 -->
	<insert id="addLand">
	 	insert into happy_farm_landinfo(landID,landName,landPrice,landImg,landMs,landArea,landDate,landSize) 
	 	values(#{landID},#{landName},#{landPrice},#{landImg},#{landMs},#{landArea},#{landDate},#{landSize})
	</insert>
	<!-- 查询土地 -->
	<select id="selectLand" resultType="com.ssm.entity.Land">
		select * from happy_farm_landinfo
	</select>
	<!-- 根据土地ID进行查询 -->
	<select id="getByLandId" resultType="com.ssm.entity.Land">
		select * from happy_farm_landinfo where landID=#{landID}
	</select>
	<!-- 根据土地ID进行删除 -->
	<delete id="deletLand" parameterType="int">
		delete from happy_farm_landinfo  where landID=#{landID}
	</delete>
	<!-- 根据土地ID进行跟新 -->
	<update id="updateLand" parameterType="com.ssm.entity.Land">
		update happy_farm_landinfo set landID=#{landID},landName=#{landName},landPrice=#{landPrice},landImg=#{landImg},landMs=#{landMs},landArea=#{landArea},landDate=#{landDate},landSize=#{landSize} where landID=#{landID}
	</update>
	<!-- 根据土地ID进行查询 -->
	<select id="getByLandId2" resultType="com.ssm.entity.Land">
		select * from happy_farm_landinfo where landID=#{landID}
	</select>
	<!-- 查询土地信息表中土地的条数 -->
	<select id="getCount" resultType="java.lang.Integer">
		select COUNT(*) from happy_farm_landinfo
	</select>
</mapper>  