<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.OrderDao" >
	<resultMap id="BaseResultMap" type="com.ssm.entity.Order">
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="orderID" property="orderID" jdbcType="VARCHAR" />
		<result column="goodsName" property="goodsName" jdbcType="VARCHAR" />
		<result column="goodsPrice" property="goodsPrice" jdbcType="DOUBLE" />
		<result column="goodsNum" property="goodsNum" jdbcType="INTEGER" />
		<result column="receiverName" property="receiverName" jdbcType="VARCHAR" />
		<result column="receiverPhone" property="receiverPhone" jdbcType="VARCHAR" />
		<result column="receiverAddress" property="receiverAddress" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 添加订单 -->
	<insert id="addOrder">
		insert into happy_farm_order(username,orderID,goodsName,goodsPrice,goodsNum,receiverName,receiverPhone,receiverAddress) 
	 	values(#{username},#{orderID},#{goodsName},#{goodsPrice},#{goodsNum},#{receiverName},#{receiverPhone},#{receiverAddress})
	</insert>
	<!-- 查出订单 -->
	<select id="selectOrderByUsername" resultType="com.ssm.entity.Order">
		select * from happy_farm_order where username=#{username}
	</select>
</mapper>